<html>
<head>
	<title>Patchmatch Web App</title>
</head>
<style type="text/css">
.header {
  padding: 5px;
  text-align: center;
  background: #832303;
  color: white;
  font-size: 20px;
}
.imagebox{
	border: 2px solid black;
	margin: auto;
	display: inline-block;
	margin: 10px;
	text-align: center;
	padding: 10px;
}
</style>
<body bgcolor="#cfc9c7">
<div class="header">
	<h1><u>Patchmatch</u></h1>
  <h5>Kunal Vaswani, Anchit Gupta, Neel Trivedi</h5>
</div>

<div style="margin: auto;text-align: center;">
    <div class="imagebox">
        <h4><u>Upload Input Image</u></h4>
        <form enctype="multipart/form-data" action="/upload1" method="post">
            <input id="image-file" type="file" name = "file" />
            <br>
            {% if files[0] != null %}
                <img id="img1" src = {{ files[0] }} width=300></img>
            {% endif %}
            <br>
            <input type="submit" name="upload" value="Upload">
        </form>
    </div>

    <div class="imagebox">
        <h4><u>Upload Target Image</u></h4>
        <form enctype="multipart/form-data" action="/upload2" method="post">
            <input id="image-file" type="file" name = "file" />
            <br>
            {% if files[1] != null %}
                <img id="img1" src = {{ files[1] }} width=300></img>
            {% endif %}
            <br>
            <input type="submit" name="upload" value="Upload">
        </form>
    </div>

    <form action="/get_results"  style="margin-top: 75">
      	<input type="submit" value="Run" onclick="process()">
    </form>

    <div class="imagebox">
      <h4><u>Result</u></h4>
      {% if res != null %}
          <img id="res_img" src = {{ res }} width=300></img>
      {% endif %}
    </div>
</div>
</body>
<script type="text/javascript">
	
  function process() {
		document.getElementById("res_img").src = './static/processing.gif';
	}
</script>
</html>